/*Variáveis*/

:root{
    --verde : #49c32c;
    --azul: #0060b1;
    --cinza-medio : #545454;
    --azul-escuro:#222c34;
    --branco:#ffffff;
    --cinza-claro:#ced4da;
}

/*Gerais*/
*{
    font-family: 'Lato',sans-serif;
    color: var(--cinza-medio);
}

h4{
    font-weight: 600;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover{
    color:var(--verde);
}

#navbarNav a.btn{
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--verde);
    border-color: var(--verde);
    border-radius: 0;

}

#navbarNav a.btn:hover{
    background-color: var(--azul);
    border-color: var(--azul);
}

/*Slider*/

.carousel-control-prev-icon{
    background-color: rgba(0,0,0,.5);
    padding: 2rem 1rem;
}


.carousel-control-next-icon{
    background-color: rgba(0,0,0,.5);
    padding: 2rem 1rem;
}

.carousel-caption{
    top:auto;
    bottom: 4rem;
    margin: 0 auto;
    width: 600px;
    background-color: rgba(0,0,0,.5);
}

.carousel-caption h5, .carousel-caption p{
    color: var(--branco);
}

.btn.btn-primary.azul{
    background-color: var(--azul);
    border-color: var(--azul);
    border-radius: 0;
}

.btn.btn-primary.azul:hover{
    background-color: var(--verde);
    border-color: var(--verde);
}

/*Cursos*/
#cursos{
    padding: 30px;
    background-color: var(--azul-escuro);
}

#cursos h4{
    text-align: center;
    color : var(--branco);
}

.card{
    border: 0;
    border-radius: 0;
}

.btn.btn-primary.verde{
    background-color: var(--verde);
    border-color: var(--verde);
    border-radius: 0;
}

.btn.btn-primary.verde:hover{
    background-color: var(--azul);
    border-color: var(--azul);
}

/*Institucional*/
#institucional{
    padding: 30px;
}

#institucional h4{
    text-align: center;
}

/*noticias*/

#noticias a{
    color:var(--azul);
    text-decoration: none;
}

#noticias a:hover{
    color:var(--verde);
}

#noticias h5{
    font-weight: 600;
}

/*Eventos*/

#eventos{
    padding-top: 1rem;
    border: 1px solid var(--cinza-claro);
    border-top: 8px solid var(--verde);
}

#eventos a{
    color: var(--verde);
    text-decoration: none;
}

#eventos a:hover{
    color: var(--azul);
}

#eventos h5{
    font-weight: 600;
}

.data{
    border: 3px solid var(--cinza-claro);
}

.dia{   
    font-size: 2rem;
    font-weight: 600;
}

/*Nossos números*/
#numeros{
    padding: 30px 30px;
    background-color: var(--azul-escuro);
    background-image: url("../img/paralax.jpg");
    color:var(--branco);
    text-align: center;
}

#numeros h4, #numeros i, #numeros .timer, #numeros p{
    color : var(--branco);
} 

.icone i{
    border:2px solid rgba(255,255,255,0.2);
    display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 60px;
    border-radius: 50%;
    padding: 10px;
}

.contador{
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 10px;
}

.separador{
    width: 10px;
    height: 2px;
    background-color: rgba(255,255,255,0.5);
    margin: 15px auto;
}

.numero p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
}

.paralax{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

/*Contato*/
.borda-azul{
    border-top: 7px solid var(--azul);
}

/*Rodapé*/
#rodape{
    padding: 30px 30px;
    background-color: var(--azul-escuro);
}

footer p a{
    margin: 5px 15px;
    color: var(--branco);
}

footer i{
    color:var(--branco);
}

footer a:hover i{
    color:var(--azul-escuro);
}

